<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Portofolio" verbose="5" guice-stage="DEVELOPMENT" allow-return-values="true"  preserve-order="true"  parallel="false">
    
  <test name="Portofolio" thread-count="5" verbose="5">

      <classes>
        <class name="scenarios.scenario" />
      </classes>

  </test>
  
</suite>